.Users {
	border: 1px solid #f0f0f0;
	padding: 10px 20px;
}

.userWrapper {
	display: flex;
	padding: 10px 0;
	align-items: center;
	border-bottom: 1px solid #f0f0f0;
}

.userPhoto {
	margin-right: 15px;
	width: 75px;
	height: 75px;
	border-radius: 100%;
}

.userWrapper h3 {
	margin: 0 0 10px;
	padding: 0;
	font-weight: 400;
	font-size: 20px;
}
