.nav {
	grid-area: navbar;
	background-color: #ffffff;
}

.list {
	list-style: none;
	line-height: 1.5;
}

.link {
	text-decoration: none;
	color: #000000;
	font-size: 16px;
}

.link.active {
	text-decoration: none;
	color: #aca9a9;
}
